div.legendTooltip {
  position: absolute;
  text-align: left;
  padding: 8px 16px;
  font: 10px;
  background-color: #111;
  color: #f4f1f4;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 9999;
}
